<h1>Listing articles</h1>

<% @articles.each do |article| %>
    <h1><%= article.title %></h1>
    <p><%= article.abstract %></p>
    <p><%= raw article.main_body %></p>
    <p><%= article.keyword_list %></p>
    <tr>
      <td><%= link_to 'Show', article %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
<% end %>

<br />

<%= link_to 'New Article', new_article_path %>
