<p id="notice"><%= notice %></p>

<h2> <%= @article.title %> </h2>
<p> <%= sanitize @article.main_body %> </p>

<p>
  <b>KeyWords:</b> <%= @article.keyword_list %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
<%= link_to 'comment', new_comment_path %>
<br />

<%= render 'related_cmt/show' %>
