<!DOCTYPE html>
<html>
<head>
  <title>Rw</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<div id = "banner" >
  <%= image_tag("banner_rover_way.png") %>
  <h2> Linux & Rails </h2>

</div>
    <div id="navlist">
      <p><%= link_to "Home", welcome_index_url %></p>
      <p><%= link_to "Admin", articles_url %></p>
      <p><a href="#">AboutMe</a></p>
      <p><a href="#">Link 3</a></p>
      <p><a href="#">Link 4</a></p>
    </div>


<div id = "container3" >
  <div id = "container2">
    <div id = "container1">

      <div id = "left" >
        <% if @tags %>
          <%= render 'tagged_post/tag_cloud' %>
        <% end %>
      </div>

      <div id = "main">
        <%= yield %>
      </div>

      <div id = "right">
        <h1> right bar</h1>
      </div>

    </div>
  </div>
</div>

<div id = "bottom_line" >
</div>

<div id = "footer">
  <h1> footer </h1>
</div>
</html>
